@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 63%;
}

body {
    font-family: 'Lato', sans-serif;
    background: #fff;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.75;
}

h1 {
    font-weight: 400;
    font-size: 35px;
    color: #37383c;
    margin: 0 !important;
    line-height: 1.3;
    letter-spacing: .0001em;
}

h4 {
    font-weight: 600;
    font-size: 28px;
    color: #37383c;
    margin: 20px 0 0 0;
    line-height: 1.75;
    letter-spacing: .0001em;
}

div {
    display: block;
}

a {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #3f3f3f;
    letter-spacing: .001em;
}

p.top-titles {
    margin-top: 0;
    margin-bottom: 0 !important;
}

h1.top-titles {
    margin-bottom: 20px !important;
}

p.access {
    margin-top: 20px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.form {
    padding-top: 20px;
}

.separator {
    content: "";
    display: block;
    margin: 0 0 60px;
    width: 200px;
    height: 2px;
    background: #37383c;
}

.small-title {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.project-link {
    text-decoration: none;
    border-bottom: 2px solid #4b72b0;
    padding: 5px 0;
    font-size: 1.5rem;
}

section {
    height: 100vh;
    width: 100vw;
}

.s-gradient {
    background: #00b4db; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00b4db, #0083b0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00b4db, #0083b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.inverted {
    color: #fff !important;
}

.logo {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: url(../img/pop-500px.png) no-repeat left center;
    background-size: cover;
    height: auto;
    padding-top: 90%;
}

.uk-input {
    border-radius: 20px !important;
}

.uk-button-default {
    border-radius: 20px;
}

.d-grid {
    display: grid;
    height: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/span 12;
    padding-top: 60px;
    margin-top: 60px;
}

.mockup {

}

.project-info {
    background: #f9f9f9;
    padding: 20px 20px 30px;
}

.project-right-center .box {
    grid-column: 7/span 4;
    grid-row: 1/span 3;
    width: 100%;
}

.project-left .box {
     grid-column: 3/span 5;
     grid-row: 1/span 3;
     width: 100%;
 }

.project-right-center .mockup {
    grid-column: 2/span 4;
    grid-row: 3/span 6;
    width: 100%;
}

.project-left .project-info {
    grid-column: 2/span 3;
    grid-row: 2/span 1;
}

.project-right .box {
    grid-column: 6/span 5;
    grid-row: 1/span 3;
    width: 100%;
}

.project-right .project-info {
    grid-column: 5/span 2;
    grid-row: 2/span 1;
}

.box {
    position: relative;
    overflow: hidden;
}

img {
    max-width: 100%;
}

.footer-logo {
    transform: scale(0.35);
}

.overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.text-overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.footer {
    background: #37383c;
}

@media (min-width: 1200px) {
    .footer {
        padding-top: 90px;
    }
}

@media (min-width: 768px) {
    .footer {
        padding: 60px 0 0;
        font-size: 16px;
    }
}

.footer-container {
    font-size: 16px;
}

@media (min-width: 1080px) {
    .footer-container {
        padding: 0 70px;
        max-width: 1420px;
    }
}

@media (min-width: 720px) {
    .footer-container {
        padding: 0 50px;
        max-width: 1380px;
    }

}

@media (min-width: 340px) {
    .footer-container {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1310px;
    }
}

.footer .footer-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.footer-container__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.footer .footer-row .footer-container__logo__outer {
    display:block;
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66666667%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    min-height: 1px;
    box-sizing: border-box;
    margin-left: 8.33333333%
}

.footer-container__logo__inner {
    display: block;
}

@media (min-width: 1280px) {
    .company-info {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 16%;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box;
    }
}

@media (min-width: 768px) {
     .company-info {
         display: block;
         padding-left: 15px;
         padding-right: 15px;
         width: 25%;
         align-self: flex-start;
         min-height: 1px;
         box-sizing: border-box;
         margin-left: 8%;
    }
}

.footer .footer-row .company-info {
    display:block;
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66666667%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    min-height: 1px;
    box-sizing: border-box
}

@media (min-width: 768px) {
    .footer-list {
        margin-top: -8px;
    }
}

.footer-list {
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    margin: 0 0 30px;
}

.footer-item {
    display: block;
    line-height: 2;
    white-space: nowrap;
}

.footer .footer-link {
    text-decoration: none;
    display: block;
    color: #fff;
    cursor: pointer;
    transition: color .2s;
    font-weight: 200;
}

.footer .footer-link:hover {
    color: #898b93;
}

.footer-text {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66666667%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    min-height: 1px;
    box-sizing: border-box;
    margin-left: 58.33333333%;
}

